.flex {
  width: fit-content;
  margin: 0 auto;
  margin-top: 12px;
  text-align: center;
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
  background-color: whitesmoke;
}
.flex > input {
  padding: 10px;
  background-color: whitesmoke;
  margin-top: 5px;
}
.flex > .submit {
  margin-top: 5px;
}
.app {
  margin-top: 150px;
}
